
.body {

  height: 31vh;
  text-align: center;
  color: #fff;
  font-size: 2rem;

  h1 {
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    font-size: 4.7rem;
  }

  p {
    font-size: 1.3rem;
    width: 65rem;
    margin: 0 auto;
    color: #ccc;
    margin-bottom: 1.5%;
  }

  b {
    color: #428bca;
    font-size: 1.6rem;
  }

  span {
    color: #6ac045;
    font-size: 3rem;
  }

  .random-downloads {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 2%;
  }

  hr {
    width: 65%;
    text-align: center;
    margin: 0 auto;
  }

  &__popular {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }

}


.warning {
  margin-top: 4%;
  height: 35vh;
  margin-left: 3%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    border: 4px solid #6ac045;
    width: 60%;
    height: 90%;
    background-color: #000000;
    position: relative;

    h1 {
      color: #fff;
      font-size: 4rem;
      text-align: center;
      margin-top: 1%;
      margin-bottom: .7%;

    }

    hr {
      width: 70%;
      margin: 0 auto;
      
    }

    p {
      color: #fff;
      margin-top: 1.5%;
      font-size: 1.7rem;
      text-align: center;
      
    }

    h3 {
      color: #4c96d0;
      text-align: center;
      font-size: 1.7rem;
      margin-top: 4%;
    }

    button {
      margin-top: 2.5%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      padding: 0.5rem 4rem 0.5rem 4rem;
      background-color: #6ac045;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 2rem;

    }
  }
}

.latest {
  height: 90vh;
  background-color: #171717;
  
  &__title {
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    
    h2, p {
      margin-top: 2%;
    }

    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1.4rem;
      color: #919191;
    }
    
  }
}