.pelicula {
  
  margin-left: 3%;
  transition: all .2s;
  cursor: pointer;

  &:hover {
    opacity: .2;
  }
  

  img {
    height: 80%;
    width: 100%;
    border: 5px solid white;
    border-radius: .4rem;
  }

  &__titulo {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 1.5%;
  }

  &__año {
    color: #919191;
    font-size: 1.4rem;
    margin-top: 1.5%;
  }
}